/* Общие стили для всего экрана */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Центровка и стили контейнера */
.container {
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Заголовок */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2196F3;
}

/* Группа ввода */
.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

input[type="text"], input[type="password"], input[type="time"] {
    padding: 10px;
    font-size: 16px;
    width: calc(100% - 22px);
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 20px;
    background-color: #2196F3;
    margin: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1976D2;
}

/* Список задач */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #e4e4e4;
}

/* Время задачи */
.time {
    font-size: 12px;
    color: #666;
}

/* Сообщение об ошибке */
.error-message {
    color: red;
    margin-top: 10px;
}

/* Медиа-запрос для iPhone 11 Pro */
@media only screen and (min-device-width: 375px) and (max-device-width: 375px)
and (min-device-height: 812px) and (max-device-height: 812px)
and (-webkit-device-pixel-ratio: 3) {
    /* Мобильная оптимизация */
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }

    input[type="text"], input[type="password"], input[type="time"], button {
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }

    .time {
        font-size: 12px;
    }
}
